@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="text-center">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="images/landing2.jpg" class="d-block w-50" alt="Landing Image">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Welcome to UFCFantasyFight</h5>
                        <p>A place for you to search UFC figher stats and run a fantasy fight between them.</p>
                        <button type="button" class="btn btn-primary">Search Stats</button>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div>
                        <img src="images/landing6.webp" class="d-block w-25" style="float: left; alt=" ...">
                        <img src="images/landing4.jpg" class="d-block w-25" style="float: right;" alt="...">
                    </div>

                    <div class="carousel-caption d-none d-md-block">
                        <h5>Fantasy Fight</h5>
                        <p>Unleash your imagination and run a fantasy fight between 2 fighters. </p>
                        <button type="button" class="btn btn-primary">Fight</button>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div style="height: 40px;"></div>
    <h1>About Us</h1>
    <div class="text-center">
        <p class="lead">
            Welcome to UFCFantasyFight, your premier destination for all things UFC! With a database boasting the stats
            of over 3500 fighters, we offer enthusiasts a comprehensive platform to explore fighter statistics and
            engage in
            fantasy matchups. Founded by a passionate UFC fan, our mission is to blend technology and love for
            the
            sport, providing users with an immersive experience and a community to celebrate the world of MMA. Join us
            as we
            step into the octagon together!
        </p>
    </div>
    <div style="height: 40px;"></div>
    <h1>UFC facts</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="images/fact1.jpg" class="card-img-top img-fluid" alt="UFC Fact 1">
                    <div class="card-body">
                        <h5 class="card-title">UFC Fact #1</h5>
                        <p class="card-text">The fastest knockout in UFC history occurred at UFC 239, when Jorge
                            Masvidal defeated Ben Askren with a flying knee just 5 seconds into the first round.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/fact2.webp" class="card-img-top img-fluid" alt="UFC Fact 2">
                    <div class="card-body">
                        <h5 class="card-title">UFC Fact #2</h5>
                        <p class="card-text">The UFC was founded in 1993 by Art Davie and Rorion Gracie, with the goal
                            of determining the most effective martial art in a real fight.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="images/fact3new.jpg" class="card-img-top img-fluid" alt="UFC Fact 3">
                    <div class="card-body">
                        <h5 class="card-title">UFC Fact #3</h5>
                        <p class="card-text">Anderson Silva holds the record for the longest title reign in UFC history,
                            reigning as the Middleweight Champion for 2,457 days.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
